<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo chat</title>
    <link rel="stylesheet" href="/css/layout/layout.css">
</head>

<body>
    <div id="mrA">Home Page</div>
    <h2 id="noidung"></h2>
</body>
<script src="jquery.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/js/handle.js">
</script>

</html>